@font-face {
    font-family: "mali";
    src: url("../fonts/Mali-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "mali";
    src: url("../fonts/Mali-Bold.ttf");
    font-weight: 700;
    font-style: normal;

}