
.board_container{
    display: grid;
    position: relative;
    gap: 1rem;

    @media  (min-width:768px) {
        grid-template-columns: 2fr minmax(350px, 1fr);
        height: 100%;
    }

    
    
    .board-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        max-width: 1150px;
        margin-left: auto;
        height: 100%;
        padding: 2rem 5rem 2rem 1rem;
        .price_info{
            font-size: .9rem;
            font-weight: 300;
            color: #474747;

        }

        p{
            font-size: 1.2rem;
            color: #202020;
            
            span{
                color: #2c2d93;
            }
        }
        .secondary-text{
            font-size: .95rem;
        }
        
        .board_header{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;
            flex-grow: 3;
            max-height: 270px;

            
            .board_header-col{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 250px;
                height: 100%;
                flex-grow: 1;
                gap: 5%;
            }
            .last-col{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .board_header-item{
                    margin: 0 1rem;
                }
            }

            .board_header-item{
                display: flex;
                width: 100%;
                .board_header-item_content{
                    flex-grow: 1;
                }
                
                .board_header-item_name{
                    font-size: .87rem;
                    color: #202020;
                }
                .board_header-item_res{
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-top: .1rem;
                    color: #2c2d93;
                }
                .board_header-item_icon{
                    position: relative;
                    object-fit: contain;
                    height: 42px;
                    width: 42px;
                }
                .last-icons{
                    height: 65px;
                    width: 65px;
                }

            }
            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr 1fr;
                flex-wrap: wrap;
                max-height: none;
                gap: 0;
                row-gap: 1.5rem;
                .board_header-item{
                    .board_header-item_icon{
                        display: none;
                    }
                }
                .last-col{
                    justify-self: center;
                    grid-column: 1/4;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin-top: 1.5rem;

                    .board_header-item{
                        flex-grow: 1;
                    }
                }
            }
            @media screen and (max-width: 1200px) and (min-width: 576px) {
                gap: 5rem;
                .board_header-col{
                    gap: 1rem;
                    .board_header-item{
                        .board_header-item_icon{
                            height: 35px;
                            width: 35px;
                        }
                    }
                }
            }

        }


        .go-back-section{
            text-align: center;
            padding: .9rem 0;
            border-radius: 10px;
            margin: 1rem auto;
            font-weight: 700;
            font-size: 1.62rem;
        }
        

        .pay_methods{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0rem 0;
            gap: 5%;

            .pay_method{
                position: relative;
                flex-grow: 1;
                max-width: 281px;
                display: flex;

                .pay_method-info{
                    width:10%;
                    margin-left: .5rem;
                    
                    & > .pay_method-info_bubble-floor{
                        position: absolute;
                        bottom: 130%;
                        width: 220px;
                        transform: translate(-44%);
                        z-index: 3;
                        .pay_method-info_bubble{
                            visibility:hidden;
                            position: relative;
                            width: 220px;
                            padding: .5rem;
                            border-radius: 2px;
                            background-color: #333333;
                            color: #fff;

                            
                            font-size: 0.625rem;
                            
                            span{
                                text-decoration-line: underline;
                            }
                            
                            
                            &:after {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 0;
                                z-index: 1;
                                border-style: solid;
                                border-color: #333333 transparent;
                                border-width: 9px 7px 0;
                                bottom: -9px;
                                left: 50%;
                                margin-left: -7px;
                            }
                            
                        } 
                    }

                    .pay_method-info_button{
                        margin: auto;
                        width: 19px;
                        height: 19px;
                        background-color: #3596ff;
                        border-radius: 100%;
                        z-index: 2;
                        cursor: pointer;
                        display: flex;
                        
                        img{
                            position: relative;
                            display: block;
                            width: 8px;
                            margin: auto;
                        }
                    }
                    
                }
                
                    
                   
                    .pay_method-button {
                        display: inline-block;
                        
                        position: relative;
                        z-index: 1;
                        background-color: #2F348B;
                        padding: 0;
                        height: 55px;
                        border: none;
                        border-radius: 5px;
                        color: #fff;
                        width: 90%;
                        font-weight: 700;
                        font-size: 2rem;
                        text-transform: none;
                    }

                    .paypal-btn{
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        margin: auto;
                        
                    }
                
                    @media screen and (max-width: 992px) {
                            margin: 1rem 0;
                            .pay_method-info{
                                & > .pay_method-info_bubble-floor{
                                    transform: translate(-88%);
                                    .pay_method-info_bubble{
                                        &:after {
                                            content: '';
                                            border-width: 9px 10px 0 0;
                                            left: 97%;
                                            margin-left: -8.5px;
                                        }
                                    }
                                }
                            }
                            .pay_method-info_button{
                                right: 25px;
                            }

                    }
            }


            

            @media (max-width: 992px) {
                display: block;
                width: 100%;
                max-width:300px;
                margin: auto;
                .paypal-btn{
                    width: 100%;
                    margin: auto;
                }
                button{
                    width: 100%;
                }
                .pay-with{
                    text-align: center;
                }
            }
        }

        .pay-with{
            max-width: 240px;
            font-size: 1rem;
            text-align: left;
            margin-right: 1rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: 992px) {
                justify-content: space-between;
                margin: 2rem auto ;
            }

            & > div{

                display: flex;
                align-items: center;

                label{
                    cursor: pointer;
                }
            }

            input[type="radio"]{
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
                font: inherit;
                color: currentColor;
                width: .9rem;
                height: .9rem;
                border: 1px solid #3596ff;
                border-radius: 50%;
                margin-right: .5rem;
                display: grid;
                place-content: center;
                cursor: pointer;

                &::before {
                    display: block;
                    content: "";
                    width: .5rem;
                    height: .5rem;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    background-color: #3596ff;
                }

                &:checked::before {
                    transform: scale(1);
                }
            }
        }
        .bottom-text{
            font-size: 1rem;
        }

        @media screen and (max-width: 1200px){
            padding: 1rem;
        }
        
    }
    aside{
        background-color: #f2cf00;

        

        .aside{
            padding: 3rem 0rem 2rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 100%;
            width: 80%;
            max-width: 700px;
            .nft-img{
                position: relative;
                display: flex;
                flex-direction: column;
                flex-shrink: 1;
                margin: auto;
                max-width:100%;
                height: auto;
                

                img{
                    position: relative;
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                    flex-shrink: 1;
                }
                
            }

            h2{
                color: #2c2d93;
                text-align: center;
            }
            p{
                text-align: justify;

                font-size: .95rem;
            }
            a{
                color: #625bff;
            }
        }
        @media screen and (max-width: 991px) {
            .aside{
                height: auto;
            }
            
        }
        @media screen and (max-width: 768px) {
            .aside{
                padding: 3rem 1rem;
                width: 100%;
            }
        }

        @media screen and (min-width: 992px) and (max-width: 1200px) {
            .aside{
                padding: 1rem;
                margin: auto;
            }
        }
    }

    
}


