.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   /* grid-template-rows: min-content minmax(400px, 500px) 1fr;*/
    gap: 2rem;
}
.section-title{
    max-width: 1338px;
    text-align: center;
    margin-top: 1rem;
    h2{
        font-weight: 600;
    }
    p{
        font-weight: 300;
        font-size: 1.5rem;
        color: #1a1a1a;
        line-height: 29px;
    }

    @media screen and (min-width: 768px) and (max-height: 844px) {
        p{
            font-size: 1.2rem;
        }
    }
    
    @media screen and (min-width: 768px) and (max-height: 763px) {
        p{
            font-zise: 1rem;
        }
    }
}
.cards_container{
    width: 100%;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
    

    .card{
        position: relative;
        flex: 0 0 300px;
        height: 100%;
        max-height: 500px;
        border-radius: 5px;
        
        -webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75); 
        box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);

        transition: .2s ease;

        @media screen and (min-width: 768px) and (max-height: 844px) {
            flex: 0 0 250px;
            max-height: 400px;
        }
        
        @media screen and (min-width: 768px) and (max-height: 763px) {
            flex: 0 0 200px;
            max-height: 250px;

            .card_name{
                font-size: 2rem;
            }
        }
        &:hover{
            cursor: pointer;
            transform: translateY(10px);
        }

        .card_image{
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            background-color: #000;
            user-select: none;
            
            img{
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: .7;
            }
        }
        .card_name{
            user-select: none;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            bottom: 0;
            width: 70%;
            margin: auto;

            margin-top: -2.25rem;

            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 2.25rem;
            line-height: 43.2px;
        }
    }

   

}
.go-back{
    margin: 1rem 0;
    .css-mat85q-MuiButtonBase-root-MuiFab-root{
        background-color: #615bfa;
        min-width: 150px;
        text-transform: none;
        font-size: 1.125rem;
        font-family: 'mali';
        font-weight: 700;
        border-radius: 10px;
        letter-spacing: normal;

        img{
            width: 22px;
            margin-right: .5rem;
        }
    } 
}